body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 60px; /* space for footer */
}

h1, h2 {
  text-align: center;
}

.input-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.input-section label {
  font-weight: bold;
}

.input-section input,
.input-section select {
  padding: 5px;
}

.input-section button {
    padding: 8px 12px;
  background-color: rgb(226, 125, 161);
  color: white;
  border: solid;
  border-radius: 4px;
  cursor: pointer;
  border:none ;
}


#custom-category-btn {
 padding: 8px 12px;
  background-color: rgb(226, 125, 161);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.expenses-list {
  margin: 20px;
}

.table-container {
  overflow-x: auto; /* scroll on small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

th, td {
  border: 1px solid #bc56e8b6;
  padding: 8px;
  text-align: left;
}

th {
  background-color:  rgb(226, 125, 161);
  color: rgb(12, 1, 1);
}

tfoot td {
  font-weight: bold;
}

.delete-btn {
  padding: 8px 12px;
  background-color: rgb(226, 125, 161);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 12px;
  background-color: white;
  color: #070707;
  text-align: center;
  z-index: 1000;
  font-size: 14px;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .input-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-section label,
  .input-section input,
  .input-section select,
  .input-section button {
    width: 100%;
  }
}